body {
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  background: -webkit-linear-gradient(to right, #616161, #9bc5c3);
  background: linear-gradient(to right, #616161, #9bc5c3);
}

.title {
  font-size: 3.1rem;
  text-align: center;
}

.description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
}

.button {
  background: #90b2b0;
  border-radius: 4rem;
  padding: 15px 40px;
  color: #fff;
  text-decoration: none;
  /* margin: 0 15px; */
}

/* Hover state animation applied here */
.button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}
